* {
  font-family: "Open Sans";
  margin: 0 auto;
  padding: 0;
}
:root {
  font-family: "Open Sans";
  /* --main-Title: #091524;
  --main-color: #ffffff;
  --secondry-color: #287bca;
  --pragrh-color: #c0c0c0; */
}
